// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}


.login_container, .base_container{
    width: 50%;
    background-color: cadetblue;
    margin-top: 200px;
  }
  
  #login_form{
    margin:10px;
    padding:20px;
  }
  